.about-component {
    width: 100%;
    height: 660px;
    text-align: center;
}

.container-skill {
    border: solid white 1px;
}

.card {
    border: solid white 1px;
    width: 11%;
    height: 160px;
    float: left;
    margin: 10px
}

.img-ico {
    width: 100px;
}

.icono {
    font-size: 120px;
}