.card-container {
    display: inline-block;
    width: 30%;
    margin: 20px;
}

.work-component {
    width: 100%;
    height: 660px;
}

.boton {
    margin-top: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.proyectos {
    margin-bottom: 50px;
}